<h1>Livros disponíveis</h1>
<div class="books-container">
    <a href="/"> Adicionar livro</a>
    {{#each books}}
        <div>
         #{{this.id}} - <spam class="bold">{{this.title}}</spam> - {{this.pageqty}} páginas
         </div>
    {{/each}}
</div>
